
#myDIV{
    float: left;
    width:100%;
    height:100px;
    background-color:#7091c5    ;
    border:4px groove #2d1d14;
    box-shadow: 5px 10px;
     
  }
  body, html {
    height: 100%;
}

/* The hero image */
.hero-image {

  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url=("Miguel B.jpg");

  /* Set a specific height */
  height: 50%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; top: 10%;
}
.hero-image1 {
 
  background-image:  url("Kimya.jpg"), linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),;

  /* Set a specific height */
  height: 100%;
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; top: 10%;
}
/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
  .div1{
    display: block;
  margin-left: auto;
  margin-right: auto;
  
  }
  .sailer{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
   
  }
  video{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    clear: both;
    margin-bottom: 150px;
  
}


  nav{
  margin-bottom: 15px;
  border: 3px groove #0f0f0f;
  width: fit-content; font-size: large;
  height: fit-content;
  background-color:#050507;
  box-shadow: 10px 10px #b3968b;
  }
  .navicon{ outline: #0f0f0f;
}
.map{margin: 15px;}
  a:link {
    color: #ff0000;
    text-decoration:none;
  }
  a{
    color: rgb(36, 0, 197);
  }
  a:visited { color: #0f0f0f;
  }
  
  a:hover {color: peru;
    text-decoration-color: rgb(134, 29, 134);
  }
  
  a:active { 
    color: crimson;
    text-decoration: solid;
  }

.pics{
  margin: 5px;
  border: #050507;
  outline: auto;
}
section{ 
 float: left;
 clear: both;
}

article{clear: left;
  margin-top: 75px;
  float: right;
  margin-bottom: 375px;
  
}
aside { clear: left;
  margin-top: 75px;
}

p{
  
  border-style: dashed ;
  background-size: contain;
  background-color: rgb(112,145,197,0.6);
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: xx-large;
  
}
h1{ 
  top: 0%;
  text-align: center;
  font-size: 50px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; display: inline;

}
h2{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 45px;
    text-align: justify;
  }
h3{
    display: block;
    float: none;
    margin-left: auto;
    margin-right: auto;
    clear: both;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 45px;
    
  }
    
h4{
      display: block;
      float: none;
      margin-left: auto;
      margin-right: auto;
      clear: left;
      text-align: center;
      font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-size: 45px;
      background-color: rgb(112,145,197,0.6);
    }
    h5{
      display: block;
      float: none;
      margin-left: auto;
      margin-right: auto;
      clear: left;
      text-align: center;
      font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-size: 300px;
    
    }
  
  footer{
    float: left;
      width: 100%;
      height: 82px;   /* Height of the footer */
      background-color: #b3968b      ;
      border: 5px solid #dac5c5;
      font-weight: bold;
      font-size: larger;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      margin: 5px;
  }

  .button {
    background-color: #7091c5;
    border: none;
    color: #603928;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 2px .05px;
    outline-color: #603928;
    outline-style: double ;
    outline-width: 2px;
    cursor: pointer;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .button1 {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 2px .05px;
    cursor: pointer;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    bottom: 300px;
  }
.fa {
  padding: 20px;
  font-size: 30px; 
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  }
.fa:hover {
  opacity: 0.7;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}


.fa-instagram {
  background: #125688;
  color: white;
}

  .clearfix {
    overflow: auto;

  }
